{% load espacios %}
<li class="dropdown">
<a data-toggle="dropdown" class="dropdown-toggle navbar-brand" title="Otros espacios" href="#"><span class="glyphicon glyphicon-globe"></span></a>
<ul role="menu" class="dropdown-menu">
    <li role="presentation" class="dropdown-header"><a href="#">Otros espacios</a></li>
    {% otros_espacios %}
</ul>
</li>
{% for pagina in espacio.pagina_set.all %}
{% if pagina.menu %}
<li {% ifequal object pagina %} class="active" {% endifequal %}>
    <a href="{% url 'pagina_view' pagina.slug %}">{{pagina.menu}}</a>
</li>
{% endif %}
{% endfor %}
<li><a href="{% url 'list_member' %}">Lista de miembros</a></li>
