{% if user.is_authenticated %}
<a type="button" class="btn btn-success" href="/accounts/profile/">Mi cuenta ({{ user.username }}) </a>
{% if user.is_superuser %}
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Administrator<span class="caret"></span></button>
    <ul role="menu" class="dropdown-menu">
        <li><a href="{% url 'admin:index' %}" target="_blank">Django admin</a></li>
    </ul>
</div>
{% endif %}
<a type="button" class="btn btn-warning" href="/accounts/logout/">Salir</a>
{% else %}
<a type="button" class="btn btn-success" href="/registro/create">Inscríbete aquí</a>
<a type="button" class="btn btn-info" href="{% url 'login' %}" >Acceso Miembros</a>
{% endif %}

