{% extends "common/base.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div role="main" class="container theme-showcase">
    <div class="jumbotron center-block">
        <h1>Instrucciones:<h1>
        <p>Date de alta en esta plataforma/espacio usando este formulario. Su cuenta estará en principio inhabilitada hasta que un administrador la active.</p>
    </div>

    <h2><b>Inscripción</b></h2><br>

    <form role="form" method="POST" action="{% url 'create_user' %}">
        {% csrf_token %}
        {{form|crispy}}
        <br><input type="submit" class="btn btn-lg btn-info btn-lg" value="Enviar" />
    </form>
</div>
{% endblock body %}
