{% extends "base.html" %}

{% block body %}


    {% if form.errors %}
        <p>Su Usuario y Contraseña no coincide. Por favor, vuelva a intentarlo.</p>
    {% endif %}

<center>

<h1><i>Una cuenta. Todo el Andén Sin Límite.</i></h1>

<div class="">
    <div class="container">
      <form role="form" class="form-signin">
        <h2 class="form-signin-heading">Acceso/Login</h2>
        <input type="email" autofocus="" required="" placeholder="Email" class="form-control">
        <input type="password" required="" placeholder="Password" class="form-control">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
      </form>
    </div>
    </div>
</center>

{% endblock body %}