{% extends "base.html" %}

{% block body %}


    {% if form.errors %}
        <p>Su Usuario y Contraseña no coincide. Por favor, vuelva a intentarlo.</p>
    {% endif %}

<center>
<h2><b>Acceso / Login</b></h2>
    <br>
    <form method="post" action="{% url 'login_user' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
       </table>
        <br>
       <input type="submit" class="btn btn-lg btn-info" value="Entrar" />
       <input type="hidden" name="next" value="{{ next }}" />
   </form>

</center>

{% endblock body %}