{% extends "base.html" %}

{% block body %}
<br>
<div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">AREA PERSONAL</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">DATOS</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">SERVICIOS<span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                </ul>
                <li><a href="#">NOTIFICACIONES</a></li>
              </li>
            </ul>
          </div>
        </div>
    </div><br>



<div class="container-fluid">
        <div class="row">

<div class="col-md-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                </i> Identificador de usuario: <strong>{{ object.id }}</strong>
            </div>
        </div>


    <div class="panel panel-danger">
        <div class="panel-heading"></i> Información de Socio/Miembro</div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
            </ul>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading"></i> Fotografía</div>
        <div class="panel-body">
            <div class="row">
                <div style="text-align: center" class="col-md-12">
                	<img width="120" height="160" alt="" src="">
                </div>
            </div>

            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-warning">
            <div class="panel-heading"></i> Notifiaciones - Alertas</div>
            <div class="panel-body">

          </div>
          </div>

    <div class="panel panel-default panel-datos-personales">
        <div class="panel-heading"></i> Datos personales</div>
        <div class="panel-body">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Nombre de usuario (Nick)</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{ object.username }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Correo electrónico</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{ object.email }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Nombre</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{ object.first_name }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Apellidos</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{ object.last_name }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Documento de identidad (DNI)</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{ object.dni }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Dirección</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{ object.direccion }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Teléfono</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{ object.telefono }}</p>
                </div>
            </div>

        </form>
        </div>
    </div>

</div>

        </div>
    </div>

{% endblock body %}

