{% extends "common/base.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-danger">
                <div class="panel-heading"><i class=""></i> Información de Socio/Miembro</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        {% for miembro in this_user.miembro_set.all %}
                        <li>{{miembro.es_socio|yesno:"Socio,Miembro"}} de <nobr>{{ miembro.espacio.nombre }}</nobr></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><i class=""></i> Fotografía</div>
                <div class="panel-body">
                    {% if object.datospersonales.avatar %}
                    <img class="img-responsive" alt="avatar" src="{{MEDIA_URL}}{{object.datospersonales.avatar}}">
                    {% else %}
                    <p class="alert alert-info text-center">Envíanos tu foto de perfil para añadirla aquí</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-warning">
                <div class="panel-heading"><i class=""></i> Notifiaciones - Alertas</div>
                <div class="panel-body">
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><i class=""></i> Datos de sistema</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Nombre de usuario</dt><dd>{{ object.username }}</dd>
                        <dt>Correo electrónico</dt><dd>{{ object.email }}</dd>
                        <dt>Nombre</dt><dd>{{ object.first_name }}</dd>
                        <dt>Apellidos</dt><dd>{{ object.last_name }}</dd>
                    </dl>
                </div>
            </div>
            {% ifequal user this_user %}
            <div class="panel panel-default">
                <div class="panel-heading"><i class=""></i> Datos personales</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Documento identidad</dt><dd>{{ object.datospersonales.dni }}</dd>
                        <dt>Dirección</dt><dd>{{ object.datospersonales.direccion }}</dd>
                        <dt>Teléfono</dt><dd>{{ object.datospersonales.telefono }}</dd>
                    </dl>
                </div>
            </div>
            {% endifequal %}
        </div>
    </div>
</div>
{% endblock body %}
