{% extends "common/base.html" %}
{% load adminurl %}

{% block extra_head %}
{# aqui poner los javascriptes que sea necesario cargar en <head> #}
{% endblock extra_head %}

{% block body %}
<h1>Contabilidad resumida de {{usuario}}</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align: center">Mensualidad</th>
            {% for columna in columnas %}
            <th style="text-align: right">{{columna}}</th>
            {% endfor %}
            <th style="text-align: right">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for anyo, cantidades in sumas.items %}
        <tr>
            <td class="text-center">{{anyo|date:"E / Y"}}</td>
            {% for cantidad in cantidades %}
            <td class="text-right">{{cantidad|floatformat:2}} €</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<p class="text-center"><a class="btn btn-default" href="{% url 'mensualidad_pagos' user.username %}">Ver detalles de pagos</a></p>

{% endblock body %}
