{% extends "common/base.html" %}
{% load adminurl %}

{% block body %}
<h1>Cuotas {{espacio.nombre}}</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Mensualidad</th>
            <th>Cantidad</th>
            <th>Forma de pago</th>
            <th>Concepto del pago</th>
            <th>Fecha de pago</th>
            <th>(Otros)</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{object.fecha|date:"m/Y"}}</td>
            <td>{{object.cantidad|floatformat:2}} €</td>
            <td>{{object.pago.forma_pago}}</td>
            <td>{{object.pago.description}}</td>
            <td>{{object.pago.fecha|date:"SHORT_DATE_FORMAT"}}</td>
            <td>
                {% if object.cantidad != object.pago.cantidad %}
                pago total de {{object.pago.cantidad|floatformat:2}} €
                {% endif %}
                {% if object.miembro.user != object.pago.pagador.user %}
                por {{object.pago.pagador.user.username}}
                {% endif %}
                {% admin object.pago %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}
