{% extends "common/base.html" %}
{% load adminurl %}

{% block body %}

{% if usuario %}
<h1>Cuotas {{usuario}}</h1>
{% else %}
<h1>Cuotas {{espacio.nombre}}</h1>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Mensualidad</th>
            {% if not usuario %}
            <th>Usuario</th>
            {% endif %}
            <th style="text-align: right">Cantidad</th>
            <th>Tipo</th>
            <th>Forma de pago</th>
            <th>Concepto del pago</th>
            <th>Fecha de pago</th>
            <th>(extra)</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td class="text-center">{{object.fecha|date:"E / Y"}}</td>
            {% if not usuario %}
            <td>{{object.miembro.user.username}}</td>
            {% endif %}
            <td class="text-right">{{object.cantidad|floatformat:2}} €</td>
            <td>{{object.pago.tipo}}</td>
            <td>{{object.pago.forma_pago}}
                {% if object.pago.forma_pago.comision_fija > 0.0 or object.pago.forma_pago.porcentaje_comision > 0.0 %}
                    <small>
                        {% if object.pago.forma_pago.comision_fija > 0.0 and object.pago.forma_pago.porcentaje_comision > 0.0 %}
                        (-max({{object.pago.forma_pago.comision_fija}} €,
                            {{object.pago.forma_pago.porcentaje_comision}} %)
                        {% elif object.pago.forma_pago.comision_fija > 0.0 %}
                        (-{{object.pago.forma_pago.comision_fija}}€)
                        {% else %}
                        (-{{object.pago.forma_pago.porcentaje_comision}} %)
                        {% endif %}
                    </small>
                {% endif %}
            </td>
            <td>{{object.pago.description}}</td>
            <td>{{object.pago.fecha|date:"SHORT_DATE_FORMAT"}}</td>
            <td>
                {% if object.cantidad != object.pago.cantidad %}
                pago total de {{object.pago.cantidad|floatformat:2}} €
                {% endif %}
                {% if object.pago.pagador and object.miembro.user != object.pago.pagador.user %}
                por {{object.pago.pagador.user.username}}
                {% endif %}
                {% admin object.pago %}
            </td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>

{% include "common/_paginator.html" %}

{% endblock body %}
