{% extends "common/base.html" %}
{% load adminurl %}

{% block extra_head %}
{# aqui poner los javascriptes que sea necesario cargar en <head> #}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>
{% endblock extra_head %}

{% block body %}
<h1>Gráfico cuotas de {{usuario}}</h1>

{{chart.as_html}}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Mensualidad</th>
            <th style="text-align: right">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        {% for anyo, cantidades in sumas.items %}
        <tr>
            <td class="text-center">{{anyo|date:"E / Y"}}</td>
            {% for cantidad in cantidades %}
            <td class="text-right">{{cantidad|floatformat:2}} €</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}