{% extends "common/base.html" %}
{% load adminurl suma %}

{% block body %}

{% if filtros %}
<h1>Registros filtrados por:</h1>
<ul>
{% for k,v in filtros.items %}
    <li><b>{{k}}</b> <a href="{% url 'lineas' %}?{{k}}={{v}}">{{v}}</a></li>
{% endfor %}
</ul>
{% else %}
<h1>Registros total</h1>
{% endif %}

<h3>
<strong>Total: {{ total|floatformat:2 }}</strong>
</h3>

<table class="table table-striped">
    <thead>
        <tr>
            {% if 'cuenta' not in filtros.keys %}
            <th>Cuenta</th>
            {% endif %}
            {% if 'mensualidad' not in filtros.keys %}
            <th>Mensualidad</th>
            {% endif %}
            {% if 'usuario' not in filtros.keys %} 
            <th>Usuario</th>
            {% endif %}
            <th style="text-align: right">Cantidad</th>
            <th>Concepto del pago</th>
            <th>Fecha de pago</th>
            {% if user.is_superuser %}
            <th>(extra)</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            {% if 'cuenta' not in filtros.keys %}
            <td>
                <a href="{% url 'lineas' %}?{{filtros_str}}&cuenta={{object.cuenta.nombre}}">{{object.cuenta_str}}</a>
            </td>
            {% endif %}
            {% if 'mensualidad' not in filtros %}
            <td>
                <a href="{% url 'lineas' %}?{{filtros_str}}&mensualidad={{object.fecha_str|date:"m/Y"}}">{{object.fecha_str|date:"m/Y"}}</a>
            </td>
            {% endif %}
            {% if 'usuario' not in filtros %} 
            <td>
                <a href="{% url 'lineas' %}?{{filtros_str}}&usuario={{object.miembro.user}}">{{object.miembro.user|default:""}}</a>
            </td>
            {% endif %}
            <td style="text-align: right">{{object.cantidad|floatformat:2}} {% suma_add "sumador" object.cantidad %}</td>
            <td>{{object.asiento.concepto}}</td>
            <td>{{object.asiento.fecha|date:'SHORT_DATE_FORMAT'}}</td>
            {% if user.is_superuser %}
            <td>
                <a href="{% url 'admin:contabilidad_asiento_change' object.asiento.pk %}">{{object.asiento.pk}} <i class="glyphicon glyphicon-pencil"></i></a>
                {% for adjunto in object.asiento.adjuntoasiento_set.all %}
                <a href="{{MEDIA_URL}}{{adjunto.fichero}}"><i class="glyphicon glyphicon-file"></i></a>
                {% endfor %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {% if 'cuenta' not in filtros.keys %}
            <th></th>
            {% endif %}
            {% if 'mensualidad' not in filtros.keys %}
            <th></th>
            {% endif %}
            {% if 'usuario' not in filtros.keys %} 
            <th></th>
            {% endif %}
            <th style="text-align: right">{{sumador|floatformat:2}}</th>
        </tr>
    </tfoot>
</table>

{% include "common/_paginator.html" %}

{% endblock body %}
