{% extends "common/base.html" %}
{% load adminurl %}

{% block extra_head %}
{# aqui poner los javascriptes que sea necesario cargar en <head> #}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>
{% endblock extra_head %}

{% block body %}
{% if prefijo %}
<h1>Contabilidad resumida de {{prefijo}}</h1>
{% else %}
<h1>Contabilidad resumida del {{espacio.nombre}}</h1>
{% endif %}

{{chart.as_html}}

<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align: center">Mensualidad</th>
            {% for cuenta in columnas %}
            <th style="text-align: right">
                {% if user.is_superuser %}
                    <a href="{% url 'resumen' %}?cuentas={{prefijo}}{{cuenta}}">{{cuenta|default:'Total'}}</a>
                {% else %}
                    {{cuenta}} 
                {% endif %}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for anyo, cantidades in sumas.items %}
        <tr>
            <td class="text-center">{{anyo|date:"E / Y"}}</td>
            {% for cantidad, cuenta in cantidades %}
            <td class="text-right">
                {% if user.is_superuser %}
                    <a href="{% url 'lineas' %}?cuenta={{prefijo}}{{cuenta}}&mensualidad={{anyo|date:"m/Y"}}">{{cantidad|floatformat:2}} €</a>
                {% else %}
                    {{cantidad|floatformat:2}} €
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td class="text-center">Previsión</td>
            {% for cantidad, cuenta in prevision %}
            <td class="text-right">
                {% if user.is_superuser %}
                    <a href="{% url 'lineas' %}?cuenta={{prefijo}}{{cuenta}}&mensualidad=prevision">{{cantidad|floatformat:2}} €</a>
                {% else %}
                    {{cantidad|floatformat:2}} €
                {% endif %}
            </td>
            {% endfor %}
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th class="text-center">Total</th>
            {% for cuenta, cantidad in total.items %}
              <td class="text-right"><strong>
              {% if user.is_superuser %}
                    <a href="{% url 'lineas' %}?cuenta={{prefijo}}{{cuenta}}">{{cantidad|floatformat:2}} €</a>
                {% else %}
                    {{cantidad|floatformat:2}} €
              {% endif %}
              </strong>
              </td>
            {% endfor %}
        </tr>
    </tfoot>
</table>

{% if usuario %}
<p class="text-center"><a class="btn btn-default" href="{% url 'mensualidad_pagos' usuario %}">Ver detalles de pagos</a></p>
{% else %}
<p class="text-center"><a class="btn btn-default" href="{% url 'mensualidad_pagos' %}">Ver detalles de pagos</a></p>
{% endif %}
<p class="text-center"><a class="btn btn-default" href="{% url 'lineas' %}">Ver todo</a></p>

{% endblock body %}
