{% extends "common/base.html" %}
{% load adminurl %}

{% block extra_head %}
{# aqui poner los javascriptes que sea necesario cargar en <head> #}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>
{% endblock extra_head %}

{% block body %}
{% if usuario %}
<h1>Contabilidad resumida de {{usuario}}</h1>
{% else %}
<h1>Contabilidad resumida del {{espacio.nombre}}</h1>
{% endif %}

{{chart.as_html}}

<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align: center">Mensualidad</th>
            {% for columna in columnas %}
            <th style="text-align: right">{{columna}}</th>
            {% endfor %}
            <th style="text-align: right">Total líquido</th>
            <th style="text-align: right">Total</th>
            <th style="text-align: right">Gastos</th>
        </tr>
    </thead>
    <tbody>
        {% for anyo, cantidades in sumas.items %}
        <tr>
            <td class="text-center">{{anyo|date:"E / Y"}}</td>
            {% for cantidad in cantidades %}
            <td class="text-right">{{cantidad|floatformat:2}} €</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if usuario %}
<p class="text-center"><a class="btn btn-default" href="{% url 'mensualidad_pagos' usuario %}">Ver detalles de pagos</a></p>
{% else %}
<p class="text-center"><a class="btn btn-default" href="{% url 'mensualidad_pagos' %}">Ver detalles de pagos</a></p>
{% endif %}

{% endblock body %}
